/*Estilos página principal*/

header {
	margin-bottom: 2rem;
}

.Logo {
	margin-left: 1.5rem;
}

.títulos {
	text-align: center;
	margin-bottom: 1.5rem;
	color: #04537c;
}

.cards {
	border-color: #04537c;
	height: 230px;
	width: 1100px;
	margin: auto;
}

.cards:hover {
	box-shadow: 0px 0px 11px 0px #04537c;
	cursor: auto;
}

.cards img {
	height: 210px;
	width: 340px;
	margin-top: 0.5rem;
}

/*Códigos para footer página principal*/
.footer {
	background-color: #dfdfdf;
	color: #04537c;
	margin-top: 5rem;
	font-family: sans-serif;
	font-size: medium;
}

/*Estilos para formularios*/
* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

.login {
	margin: 10px auto 58px;
	width: 400px;
}

.login-registro {
	margin: 10px auto 10px;
	width: 500px;
}

.login-screen {
	background-color: #dfdfdf;
	padding: 20px;
	border-radius: 5px;
}

.login-screen-recuperacion {
	background-color: #dfdfdf;
	padding: 20px;
	margin-bottom: 25rem;
	border-radius: 5px;
}

.app-title {
	text-align: center;
	color: #777;
}

.login-form {
	text-align: center;
	margin-top: 1rem;
}
.control-group {
	margin-bottom: 10px;
}

input {
	text-align: center;
	background-color: white;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0;
	width: 250px;
	transition: border 0.5s;
}

input:focus {
	border: 2px solid #3498db;
	box-shadow: none;
}

.select-perfil {
	text-align: center;
	background-color: white;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0;
	width: 250px;
	transition: border 0.5s;
}

.cantidad-personas {
	text-align: center;
	background-color: white;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0;
	width: 250px;
	transition: border 0.5s;
}

.calendario {
	text-align: center;
	border: 2px solid transparent;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 200;
	padding: 1px 0;
	width: 250px;
	transition: border 0.5s;
	margin: auto auto 0.7rem;
}

.btn {
	border: 2px solid transparent;
	background: #3498db;
	color: #ffffff;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	text-decoration: none;
	text-shadow: none;
	border-radius: 3px;
	box-shadow: none;
	transition: 0.25s;
	display: block;
	width: 250px;
	margin: 0 auto;
}

.btn:hover {
	background-color: #2980b9;
}

.login-link {
	font-size: 15px;
	color: #444;
	display: block;
	margin-top: 12px;
}

.form-control {
	text-align: left;
}

.subir-archivo .text-area {
	color: #04537c;
	text-align: left;
}

.subir-archivo .file {
	color: #04537c;
	background-color: #e0e0e0;
	margin-top: 1rem;
}

.btn-enviar {
	border: 2px solid transparent;
	background: #3498db;
	color: #ffffff;
	font-size: 16px;
	padding: 10px 0;
	border-radius: 3px;
	box-shadow: none;
	transition: 0.25s;
	display: block;
	width: 200px;
	margin: 0.5rem auto;
}

.btn-enviar:hover {
	box-shadow: 0px 0px 11px 0px #a5a5a5;
}

.btn-actualizar {
	border: 2px solid transparent;
	background: #3498db;
	color: #ffffff;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	text-decoration: none;
	text-shadow: none;
	border-radius: 3px;
	box-shadow: none;
	transition: 0.25s;
	display: block;
	width: 250px;
	margin: 1rem auto;
}

.btn-cancelar {
	border: 2px solid transparent;
	background: red;
	color: #ffffff;
	font-size: 16px;
	line-height: 25px;
	padding: 10px 0;
	text-decoration: none;
	text-shadow: none;
	border-radius: 3px;
	box-shadow: none;
	transition: 0.25s;
	display: block;
	width: 250px;
	margin: 1rem auto;
}

.boton-crear-espacios {
	margin-top: 2rem;
	text-decoration: none;
	border: 2px solid transparent;
	background: #3498db;
	color: #ffffff;
	font-size: 16px;
	padding: 10px 10px;
	border-radius: 3px;
	box-shadow: none;
	transition: 0.25s;
	width: 100px;
}
/*Códigos para tabla administración espacios*/

#tabla {
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	border-style: groove;
	margin-bottom: 16.3rem;
}

th {
	background-color: #dfdfdf;
	color: #04537c;
	padding: 20px;
	border: 2px solid black !important;
	border-width: 2px;
	text-align: center;
}
tr,
td {
	padding: 20px;
	border: 2px solid black !important;
	border-width: 2px;
	text-align: center;
}

.imgCoworking {
	height: 180px;
}

.btn-primary-admin {
	width: 30px;
}
.eliminar {
	background: #ffff;
	border: none;
}
.labelCoworking {
	color: #04537c;
}
.imgCoworking {
	width: 80%;
}
.botones {
	display: flex;
}
